.layoutContainer {
  width: 90%;
  max-width: 1120px;

  margin: 1.5rem auto;
}

.layoutHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  h2 {
    font-weight: 400;
  }

  h1 {
    color: var(--dark-gray);
    font-size: 2rem;
    cursor: pointer;
  }
}

.headerNavbar {
  display: grid;
  grid-template-columns: 1fr 1fr;

  a {
    transition: color 0.3s;
    cursor: pointer;
  }

  a:hover {
    color: var(--blue);
  }
}

.active {
  color: var(--blue);
}